################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/hass-blueriiot/.vs
/hass-blueriiot/.vs/hass-blueriiot
/hass-blueriiot/obj
/hass-blueriiot/bin

