################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
 
/.vs
/hass-actron/.vs
/hass-actron/bin
/hass-actron/obj
