################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/hass-actron/.vs/hass-actron/v15/Server/sqlite3
/hass-actron/obj
