################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/hass-actronque/.vs
/hass-actronque/bin
/hass-actronque/obj